:root {
  font-family: "Space Mono", monospace;
/* font-family: "Inter", sans-serif; */

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  

/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 15px;
}
}
button:hover {
  border-color: #646cff;
  background-color: #43a2dd;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding-top: 3%;
  /* background-image: linear-gradient(100deg, #c8e14c, #1db3e5); */
  background-color: #121ef9;
  border-radius: 40px;
  /* border-radius: 20px; */
  /* border-color: #453639; */
  /* color: white; */
  transition: 0.3s linear;
  overflow: hidden;
}

input{
  padding: 9px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: 5px;
  margin: 10px;
  outline: 10px;
  outline-color: #121ef9;
  border-radius: 25px;
  /* border-top-left-radius: 17px; */
  /* border-bottom-left-radius: 17px; */
  max-width: 500px;
  transition: background-color 200ms ease-in-out;
  /* width: 100%; */
  background-color: #4f7ab3;
  color: var(--primary-color);
}